{% extends '@BonPlan/Default/index.html.twig' %}

{% block body %}

    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-7 responsive-wrap">
                    <div class="row detail-filter-wrap">
                        <div class="col-md-4 featured-responsive">
                            <div class="detail-filter-text">

                                <p>{{ nb}} Results For <span></span></p>

                            </div>
                        </div>
                        <div class="col-md-8 featured-responsive">
                            <div class="detail-filter">
                                <p>Filter by</p>
                                <form class="filter-dropdown">
                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                                        <option selected>Best Match</option>
                                        <option value="1">One</option>
                                        <option value="2">Two</option>
                                        <option value="3">Three</option>
                                    </select>
                                </form>
                                <form class="filter-dropdown">
                                    <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect1">
                                        <option selected>Restaurant</option>
                                        <option value="1">3 etoilees</option>
                                        <option value="2">4 etoiles</option>
                                        <option value="3">5 etoiles </option>
                                    </select>
                                </form>
                                <div class="map-responsive-wrap">
                                    <a class="map-icon" href="#"><span class="icon-location-pin"></span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row detail-checkbox-wrap">
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Bike Parking</span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Wireless Internet  </span>
                            </label>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Smoking Allowed  </span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Street Parking</span>
                            </label>
                        </div>

                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Special</span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Accepts Credit cards</span>
                            </label>
                        </div>
                        <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">

                            <label class="custom-control custom-checkbox">
                                <input type="checkbox" class="custom-control-input">
                                <span class="custom-control-indicator"></span>
                                <span class="custom-control-description">Pets Friendly</span>
                            </label>
                        </div>
                        <div class="row light-bg detail-options-wrap">
                            {% for p in restau %}
                                <div class="col-sm-6 col-lg-12 col-xl-6 featured-responsive">
                                    <div class="featured-place-wrap">
                                        <a href="{{ path('Profil_Plan',{'id': p.id}) }}">
                                            <img  src="{{ asset('uploads/images/PhotoProfil/'~p.photodeprofil) }}" class="img-fluid" alt="#">
                                            <span class="featured-rating-orange ">6.5</span>
                                            <div class="featured-title-box">
                                                <h6>{{ p.nomPlan}}</h6>

                                                <p></p> <span> • </span>
                                                <p><span>$$$</span>$$</p>
                                                <ul>
                                                    <li><span class="icon-location-pin"></span>
                                                        <p>{{ p.adresse}}</p>
                                                    </li>
                                                    <li><span class="icon-screen-smartphone"></span>
                                                        <p>{{ p.telephone}}</p>
                                                    </li>



                                                </ul>
                                                <div class="bottom-icons">
                                                    <span class="ti-heart"></span>
                                                    <span class="ti-bookmark"></span>
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>


                        </div>
                        <div class="col-md-5 responsive-wrap map-wrap">
                            <div class="map-fix">
                                <!-- data-toggle="affix" -->
                                <!-- Google map will appear here! Edit the Latitude, Longitude and Zoom Level below using data-attr-*  -->

                            </div>
                        </div>
                    </div>
                </div>
            </div></div></section>
    <!-- jQuery, Bootstrap JS. -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>


    <script>
        $(".map-icon").click(function() {
            $(".map-fix").toggle();
        });
    </script>
    <script language="JavaScript">
        function initMap() {
            var latlng = new google.maps.LatLng({{ p.latitude }},{{ p.longitude }});
            var map = new google.maps.Map(document.getElementById('map'), {
                //les element required pour map
                zoom: 17,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

        }
    </script>
    {% endfor %}
    <!-- Map JS (Please change the API key below. Read documentation for more info) -->
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1NK3hPy4e4XIry3HF7fz8sXjd4cXDK4&callback=initMap"></script>

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('back/js/jquery.metisMenu.js') }}"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="{{ asset('back/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('back/js/morris/morris.js') }}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('back/js/custom.js') }}"></script>
{% endblock  %}
