<<<<<<< HEAD
{% extends '@BonPlan/Default/indexback.html.twig' %}

{% block body %}
=======
<<<<<<< HEAD
{% extends '@BonPlan/Default/indexback.html.twig' %}

{% block body %}

{% endblock %}

{% block javascript %}

{% endblock %}

=======
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
{{ form_start(edit_form) }}
<div class="modal-body">
        <div class="form-group">
            {{ form_row(edit_form.nomCategorie, {'label':"Nom Catégorie" ,'attr': {'class': 'form-control border-input'}}) }}
        </div>
    <div class="form-group">
        {{ form_row(edit_form.file, {'label':"Image" ,'attr': {'class': 'form-control border-input'}}) }}
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
    <button type="submit" class="btn btn-warning" data-dismiss="modal">Modifier</button>
    {{ form_row(edit_form._token) }}
</div>
{{ form_end(edit_form) }}
<<<<<<< HEAD
{% endblock %}
=======
>>>>>>> b820972144c8f32a32d404d0bb685d1561150cce
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
