{#{{ form_start(form) }}#}
{#<div>#}
    {#<br/>#}
    {#<div class="content">#}
        {#<div class="row">#}
            {#<div class="col-md-12">#}
                {#<div class="form-group">#}
                    {#{{ form_row(form.commentaire) }}#}
                    {#<button type="submit" href="#" class="btn-success" ><span class="ti-comment-alt"></span>   Commenter</button>#}
                    {#{{ form_row(form._token) }}#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}
{#</div>#}
{#{{ form_end(form) }}#}
{{ form_start(form) }}
{{ form_end(form) }}