{% extends 'BonPlanBundle:Default:indexback.html.twig' %}
{% block body %}
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 98c1bff408d5bf6b674b2043121740432770b49e
    <h1>update</h1>
    {{ form_start(form) }}
    <table>
        <tr>
            <td>Etat</td>
            <td>{{ form_widget(form.etat) }}</td>
        </tr>

    </table>
    {{ form_end(form) }}
<<<<<<< HEAD
=======
=======
<h1>update</h1>
{{ form_start(form) }}
<table>
    <tr>
        <td>Etat</td>
        <td>{{ form_widget(form.etat) }}</td>
    </tr>

</table>
{{ form_end(form) }}
>>>>>>> 2fc00991a238d4670f325c3fd33b98e2396eb468
>>>>>>> 98c1bff408d5bf6b674b2043121740432770b49e
{% endblock %}