{% trans_default_domain 'FOSUserBundle' %}
{% extends '@BonPlan/Default/indexback.html.twig' %}
{% block body %}
<body   style="background-repeat:no-repeat ; stroke:5px ; height:700px ; background-size: 100% 100%;background-image: url({{ asset('images/back.jpg') }}) ">

<div class="content">
    <div class="container-fluid">
        <div class="row">

            <div class="col-sm-11">
            <h3  class="text-primary"> Modifier mes informations</h3>


            <div class="col-sm-6">
                <h4 class="text-secondary"> Modifier mes informations</h4>
                <form action="{{ path('fos_user_profile_edit') }} " method="POST" class="text-white">
                    {{ form_widget(form) }}

                    <input type="submit" value="{{ 'profile.edit.submit'|trans }}" class="btn btn-primary text-white"/>

                    {{ form_end(form) }}
                </form>

            </div>
        </div>
        </div>
    </div>


</div>
</body>
{% endblock %}