{% extends '@BonPlan/Default/index.html.twig' %}
{% block body %}
<br>
    <br>
    <br>

<body style="background-size: 100% 100%;background-image: url({{ asset('images/slider.jpg') }}) ;">
   <form style="height: 500px ; color: #f3f4f7 ">
       <center>
    <div class="col-lg-8 col-md-7">
            <div class="header">
                <h3 class="title" style="color: indianred">Creer un profile Visiteur </h3>
            </div>
<br>
        <br>
        <center >
    {{ form_start(form) }}
            <center>
            <div class="content">
                <div class="row">
                    <div class="col-md-4">

                        <div class="form-group">
                             {{ form_row(form.nomVisiteur, {'label':"Nom Visteur" ,'attr': {'class': 'form-control border-input'}}) }}
                        </div>
                    </div>
                </div>
            </div>
            </center>
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_row(form.prenomVisiteur, {'label':"Prenom Visiteur" ,'attr': {'class': 'form-control border-input'}}) }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="content">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            {{ form_row(form.telephone, {'label':"telephone" ,'attr': {'class': 'form-control border-input'}}) }}
                        </div>
                    </div>
                </div>

                <div class="content">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                {{ form_row(form.photodeprofil, {'label':"Photo de Profil" ,'attr': {'class': 'form-control border-input'}}) }}
                            </div>
                        </div>
                    </div>
                </div>

            <div>
                <input style="background-color: #bd2130" type="submit" class="btn btn-info btn-fill btn-wd" value="Enregistrer" />
                {{ form_row(form._token) }}
            </div>
        </div>
    </div>



    {{ form_end(form) }}
       </center>
        </div>
    </div>
      </center>
   </form></body>
{% endblock %}