{% extends '@BonPlan/default/index.html.twig' %}
{% block body %}
<div class="container" style="background: url({{ asset('images/recherche.jpg') }}) ; height: 1000px; background-repeat:no-repeat ;background-size: 100% 100%">
    <center ><h2>Liste des plans</h2></center>
<br> <br>
        <center><h6 style="color:#bee5eb "  aria-busy="true"> Rechercher: <input size="50" type="text" id="recherche" style="color:#0088cc"></h6></center>
<br><br>
        <table   style="color: #5a6268" class="table"; id="tableau">
            <thead>
            <t >
                <th>Nom Plan </th>

                <th>Ville</th>
                <th>Categorie</th>
                <th>Image</th>
            </t>
            </thead>
            <tbody>
            {% for p in plans %}
            <tr>
                <td>{{ p.nomPlan }}</td>

                <td>{{ p.ville }}</td>
                <td>{{ p.categorie.nomCategorie }}</td>
                <td><img style="width: 100px;height: 100px" src="{{ asset('uploads/images/PhotoProfil/'~p.photodeprofil) }}" class="img-fluid" alt="#"></td>


            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >
    $(function () {
        $("#recherche").keyup(function () {
            $.ajax({
                url : "{{ path('recherche_Kbira') }}",
                data : { 'user' : $(this).val() }
            }).done(function (response) {
                var tableau = $(response).find("#tableau");
                $('#tableau').empty();
                $('#tableau').append(tableau);
            });
        });

    })
</script>
{% endblock %}
