<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Back haya win</title>
    <!-- BOOTSTRAP STYLES-->
    <link href="{{ asset('back/css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{{ asset('back/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="{{ asset('back/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{{ asset('back/css/custom.css') }}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- BOOTSTRAP STYLES-->
    <link href="{{ asset('back/css/bootstrap.css') }}" rel="stylesheet" />
    <!-- FONTAWESOME STYLES-->
    <link href="{{ asset('back/css/font-awesome.css') }}" rel="stylesheet" />
    <!-- MORRIS CHART STYLES-->
    <link href="{{ asset('back/js/morris/morris-0.4.3.min.css') }}" rel="stylesheet" />
    <!-- CUSTOM STYLES-->
    <link href="{{ asset('back/css/custom.css') }}" rel="stylesheet" />
    <!-- GOOGLE FONTS-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <!-- /. WRAPPER  -->
    <!-- SCRIPTS -AT THE BOTOM TO REDUCE THE LOAD TIME-->
    <!-- JQUERY SCRIPTS -->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('back/js/bootstrap.min.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('back/js/jquery.metisMenu.js') }}"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="{{ asset('back/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('back/js/morris/morris.js') }}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('back/js/custom.js') }}"></script>
    {% block stylesheet %}{% endblock %}
</head>

<body>
<div id="wrapper">
    <nav class="navbar navbar-default navbar-cls-top " role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ path('bon_plan_homepage_back') }}">Haya win</a>
        </div>
        <div style="color: white;
padding: 15px 50px 5px 50px;
float: right;
font-size: 16px;">   &nbsp; <a href={{ path('fos_user_security_logout') }} class="btn btn-danger square-btn-adjust">Déconnexion</a> </div>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (is_granted("ROLE_PROP")) %}
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><span class="label label-pill label-danger count" style="border-radius:10px;"></span> <span class="glyphicon glyphicon-bell " style="font-size:20px; color:#d9534f;" ></span></a>
                    <ul class="dropdown-menu"></ul>
                </li>
            </ul>
        {% endif %}
    </nav>
    <!-- /. NAV TOP  -->
    <nav class="navbar-default navbar-side" role="navigation">
        <div class="sidebar-collapse">
            <ul class="nav" id="main-menu">
                <li class="text-center">
                    <img href="#"  src="{{ asset('images/logo.png') }}" class="user-image img-responsive"/>
                </li>


                <li>
                    <a class="active-menu"  href="{{ path('Acceuil_back') }}  "><i class="fa fa-dashboard fa-3x"></i> Acceuil</a>
                </li>

                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (is_granted("ROLE_ADMIN")) %}
                    <a  href="{{ path('Validation_Compte') }}"><i class="fa fa-desktop fa-3x"></i> Validation des Comptes</a>
                    {% endif %}
                </li>

                <li  >
                    <a  href="{{ path('Affiche_Rec') }}"><i class="fa fa-table fa-3x"></i> Gerer Reclamation</a>
                </li>

                <li  >
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (is_granted("ROLE_PROP")) %}
                    <a  href="{{ path('Ajouter_Promotion') }}"><i class="fa fa-edit fa-3x"></i> Ajouter Promotion </a>
                    {% endif %}
                </li>
                <li>
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (is_granted("ROLE_PROP")) %}

                    <a  href="{{ path('ReservationProp') }}"><i class="fa fa-qrcode fa-3x"></i> Traitement des Resrvation</a>
                    {% endif %}

                </li>
                <li  >
                    <a  href="{{ path('liste_Promotion_Admin') }}"><i class="fa fa-edit fa-3x"></i>Liste Promotion </a>
                </li>
                <li>
                    <a  href="#"><i class="fa fa-edit fa-3x"></i> Categorie </a>
                    <ul class="nav nav-second-level">
                        <li>
                            <a href="{{ path('ajout_Categorie_admin') }}">Ajout Categorie</a>
                        </li>
                        <li>
                            <a href="{{ path('Categorie_admin') }}">Consultation Categorie</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <li>
                <a  href="#"><i class="fa fa-edit fa-3x"></i> Evènements </a>
                <ul class="nav nav-second-level">
                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and (is_granted("ROLE_PROP")) %}
                        <li>
                            <a href="{{ path('addEvent') }}">Ajouter évènements</a>
                        </li>
                        <li>
                            <a href="{{ path('EventProp_consult') }}">Mes évènements</a>
                        </li>
                    {% endif %}
                    <li>
                        <a href="{{ path('général_consult') }}">Touts les évènements</a>
                    </li>

                </ul>
            </li>
        </div>
    </nav>
    <!-- /. NAV SIDE  -->
    <div id="page-wrapper" >

            {% block body %}{% endblock %}
            <!-- /. ROW  -->


            <!-- /. ROW  -->


            <!-- /. ROW  -->

        <!-- /. PAGE INNER  -->
    </div>
    <!-- /. PAGE WRAPPER  -->
</div>
<script>
    $(document).ready(function(){

        function load_unseen_notification(view = '')
        {
            $.ajax({
                url:"{{ path('ReservationPropNotif') }}",
                method:"POST",
                data:{view:view},
                dataType:"json",
                success:function(data)
                {
                    $('.dropdown-menu').html(data.notification);
                    if(data.unseen_notification > 0)
                    {
                        $('.count').html(data.unseen_notification);
                    }
                }
            });
        }

        load_unseen_notification();



        $(document).on('click', '.dropdown-toggle', function(){
            $('.count').html('');

        }).on('click',function () {
            load_unseen_notification('yes');
        });

        setInterval(function(){
            load_unseen_notification();;
        }, 5000);



    });
</script>
{% block javascript %}
{% endblock %}

</body>
</html>
