{% extends ":default:index.html.twig" %}
{% block body %}
    <!-- SLIDER -->
    <section class="slider d-flex align-items-center active" id="sectiontest">
        <!-- <img src="images/slider.jpg" class="img-fluid" alt="#"> -->
        <div class="container">
            <div class="row d-flex justify-content-center">
                <div class="col-md-12">
                    <div class="slider-title_box">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="slider-content_wrap">
                                    <h1>حاير و مش عارف وين تمشي </h1>
                                    <h3 style="color: #C9C9C9">هيا وين تعاونك بش تاكل , تسهر , تحوس </h3>
                                </div>
                            </div>
                        </div><br/>
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-10">
                                    <div class="btn-group" role="group" aria-label="Basic example">
<<<<<<< HEAD


                                        <a  href="{{ path('recherche_Kbira') }}" style="background-color: #DA2D39; width: 1000px; height: 40px"  class="btn"><span class="icon-magnifier search-icon"></span>  SEARCH</a>
=======
<<<<<<< HEAD


                                        <a  href="{{ path('recherche_Kbira') }}" style="background-color: #DA2D39; width: 1000px; height: 40px"  class="btn"><span class="icon-magnifier search-icon"></span>  SEARCH</a>
=======
                                        <input type="text" placeholder="What are your looking for?" >
                                        <input type="text" placeholder="Tunisia" class="btn-group2">
                                        <button style="background-color: #DA2D39" type="submit" class="btn-form"  ><span class="icon-magnifier search-icon"></span>SEARCH<i class="pe-7s-angle-right"></i></button>
>>>>>>> 98c1bff408d5bf6b674b2043121740432770b49e
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--// SLIDER -->

    <section class="main-block">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>What do you need to find?</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for categorie in categories %}
                    <div class="col-md-4 featured-responsive">
                        <div class="find-place-img_wrap">
                            <div class="grid">
                                <a href="{{ path('Categorie_restau',{'id':categorie.id}) }}">
                                    <figure class="effect-ruby">
                                        <img src="{{ asset('uploads/images/Categorie/'~categorie.imageCategorie) }}" style="height: 227px; width: 350px; display: block;" class="img-fluid" alt="#">
                                        <figcaption>
                                            <h5>{{ categorie.nomCategorie }}</h5>
                                        </figcaption>
                                    </figure>
                                </a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <section class="main-block light-bg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-5">
                    <div class="styled-heading">
                        <h3>Featured Places</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                {{ render(controller('BonPlanBundle:Default:indexViewAll')) }}
            </div>
            <div class="row justify-content-center">
                <div class="col-md-4">
                    <div class="featured-btn-wrap">
                        <a href="#" class="btn btn-danger">VIEW ALL</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
<<<<<<< HEAD
=======
<<<<<<< HEAD
=======
 <!--   <script>
        $("document").ready(function () {

            $(".recherche").keyup(function () {
                var plan=$('.recherche').val();
                var DATA = 'plan=' + plan;
                $.ajax({
                    type:"GET",
                    data: DATA,
                    success: function (data) {
                        console.log(data);
                        $("recherche").val(data.plan);
                        console.log("trouvé");
                    }
                });


            })

        });
    </script>-->

<<<<<<< HEAD

    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('back/js/jquery.metisMenu.js') }}"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="{{ asset('back/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('back/js/morris/morris.js') }}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('back/js/custom.js') }}"></script>
=======
        <!--     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >
    $(function () {
        $("#recherche").keyup(function () {
            $.ajax({
                data : { 'plan' : $(this).val() },
                success: function (data) {
                    console.log("trouvé");
                }
        });
    })
    });
</script>-->
>>>>>>> 2fc00991a238d4670f325c3fd33b98e2396eb468
>>>>>>> 98c1bff408d5bf6b674b2043121740432770b49e
>>>>>>> 1c4d0f271342a3deebb8766ad8e9dbb8d20e4b6e
{% endblock %}