{% extends '@BonPlan/default/index.html.twig' %}

{% block body %}

<!--============================= BOOKING =============================-->
<div>
    <!-- Swiper -->

{% for user in users_consult %}
<!--============================= RESERVE A SEAT =============================-->
<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>{{ user.nomPlan }}</h5>
                                        {% if is_granted("ROLE_VISITEUR") and is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                <p><span>{{ form(rating) }}</span></p>
                {% endif %}
                <p class="reserve-description">{{ user.description }}</p>
            </div>
            <div class="col-md-6">
                <div class="reserve-seat-block">
                    <div class="reserve-rating">
                        <span>9.5</span>
                    </div>
                    <div class="review-btn">
                        {% if is_granted("ROLE_VISITEUR") and is_granted("IS_AUTHENTICATED_REMEMBERED") %}

                            <a href="{{ path('bon_plan_ReclamationPlan', { 'id' : idreclam}) }}"
                               class="btn btn-outline-danger">Reclamer</a>
                            <span>34 reviews</span>
                        {% else %}
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-outline-danger">Reclamer</a>
                        {% endif %}                                        </div>

                    <div class="reserve-btn">
                        <div class="featured-btn-wrap">
                            <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">Réserver</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END RESERVE A SEAT -->
<!--============================= BOOKING DETAILS =============================-->
    <div class="featured-btn-wrap">
        <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalP">PROMOTION</a>
    </div>
<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            {{ render(controller('BonPlanBundle:Avis:Commentaire',{'id':user.id})) }}
            <div class="col-md-4 responsive-wrap">
                <div class="follow">
                    <div class="follow-img">
                        <img src="{{ asset('uploads/images/PhotoProfil/'~user.photodeprofil) }}" class="img-fluid" alt="#">
                            <div class="address">
                                <span class="icon-location-pin" ></span><p>{{ user.adresse }}</p>
                            </div>
                            <div class="address">
                                <span class="icon-screen-smartphone"></span>
                                <p>{{ user.telephone }}</p>
                            </div>

                    </div>


                    <div id="map" class="img-fluid" style="width: 100%; height: 200px; top: 0px; position: relative; overflow: hidden;" ></div>
                    <div class="contact-info">
                            <ul class="social-counts">
                                <li>
                                    <h6>26</h6>
                                    <span>Listings</span>
                                </li>
                                <li>
                                    <h6>326</h6>
                                    <span>Followers</span>
                                </li>
                                <li>
                                    <h6>12</h6>
                                    <span>Followers</span>
                                </li>
                            </ul>
                        {% if app.user and is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            {% if plan %}
                                <a href="{{ path('bon_plan_desabonner', { 'idPlan' : idreclam, 'idUser' : app.user.id }) }}"
                                   class="btn btn-outline-danger">Desabonner</a>
                            {% else %}
                                <a href="{{ path('bon_plan_abonner', { 'id' : idreclam }) }}"
                                   class="btn btn-outline-danger">Abonner</a>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-outline-danger" disabled>Abonner</button>
                        {% endif %}                     </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px ;alignment: center">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span class="modal-body">
                    <form method="POST">
                      <div class="content table-responsive table-full-width">
                        <br>
                        <table  style=outline-color:#bee5eb    class="table ; table-striped"  id="tableau">
                            <thead style="color: #0b0b0b ;size:A5" >
                            <tr>
                                <th>descritpion</th>
                                <th>detail</th>

                                <th data-field="date debut" data-sortable="true">date Debut</th>
                                <th data-field="date fin" data-sortable="true">date fin</th>

                                <th data-field="image" data-sortable="true">Image de Promotion </th>

                            </tr>
                            </thead>
                            {% for p in promo %}
                                <tr>
                                    <td>{{  p.description}}</td>
                                    <td><a href="{{ path('detail_promo', {'id': p.idpromotion}) }}">detail </a> </td>
                                    <td>{{ p.datedebutp |date("m/d/Y")}}</td>
                                    <td>{{ p.datefinp |date("m/d/Y") }}</td>
                                    <td> <img src="{{ asset('images/Promotion/' ~  p.urlpromo) }}" style="height: 100px; width: 150px" ></td>




                                </tr>
                            {% endfor %}

                        </table>
                    </div>

                </form>

                </span></div>
        </div>
    </div>

    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
    <!-- popup firas-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Remplir le formulaire</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span class="modal-body">
                    <form method="POST">
                        <input name="userConnecté" type="hidden" value="{{ app.user.id }}">
                        <input name="Plan" type="hidden" value="{{ user.id }}">

                          <div class="form-group">
    <label for="exampleInputNbr">Nombre des places</label>
    <input type="number" class="form-control" id="exampleInputNbr"
           placeholder="entrer le nombre de place" name="nbrplace" required>
  </div>
                                                  <div class="form-group">
    <label for="exampleInputDate">Date de réservation</label>
    <input type="date" class="form-control" id="exampleInputDate"
           placeholder="Choisir la date" name="dateReservation" required>
  </div>
                                                                         <div class="form-group">
    <label for="exampleInputDate">Heure de réservation</label>
    <input type="time" class="form-control" id="exampleInputDate"
           placeholder="Choisir la date" name="heure" required>
  </div>
  <div class="form-group">
    <label for="exampleInputTel">Téléphone</label>
    <input type="text" class="form-control" id="exampleInputTel" placeholder="Téléphone " name="telephone" required>
  </div>
                   </span>
                <span class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">annuler</button>

                        <input type="submit" value="Réserver" class="btn btn-primary" >
                </span>
                </form>

            </div>
        </div>
    </div>
{% endif %}
</section>
<!--//END BOOKING DETAILS -->






<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    if ($('.image-link').length) {
        $('.image-link').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    }
    if ($('.image-link2').length) {
        $('.image-link2').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    }
</script>

    <script language="JavaScript">
        function initMap() {
            var latlng = new google.maps.LatLng({{ user.latitude }},{{ user.longitude }});
            var map = new google.maps.Map(document.getElementById('map'), {
                //les element required pour map
                zoom: 17,
                center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

        }
    </script>
{% endfor %}
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBE1NK3hPy4e4XIry3HF7fz8sXjd4cXDK4&callback=initMap"></script>
{% endblock  %}