{% extends '@BonPlan/Default/index.html.twig' %}

{% block body %}

<!--============================= BOOKING =============================-->
<div>
    <!-- Swiper -->

{% for user in users_consult %}
<!--============================= RESERVE A SEAT =============================-->
<section class="reserve-block">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h5>{{ user.nomPlan }}</h5>
                <p><span>$$$</span>$$</p>
                <p class="reserve-description">{{ user.description }}</p>
            </div>
            <div class="col-md-6">
                <div class="reserve-seat-block">
                    <div class="reserve-rating">
                        <span>9.5</span>
                    </div>
                    <div class="review-btn">
                        {% if is_granted("ROLE_VISITEUR") %}

                            <a href="{{ path('bon_plan_ReclamationPlan', { 'id' : idreclam}) }}"
                               class="btn btn-outline-danger">Reclamer</a>
                            <span>34 reviews</span>
                        {% else %}
                            <a href="{{ path('fos_user_registration_register') }}" class="btn btn-outline-danger">Reclamer</a>
                        {% endif %}                    </div>
                    <div class="reserve-btn">
                        <div class="featured-btn-wrap">
                            <a href="#" class="btn btn-danger">RESERVE A SEAT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//END RESERVE A SEAT -->
<!--============================= BOOKING DETAILS =============================-->
    <div class="featured-btn-wrap">
        <a href="" class="btn btn-danger" data-toggle="modal" data-target="#exampleModalP">PROMOTION</a>
    </div>

<section class="light-bg booking-details_wrap">
    <div class="container">
        <div class="row">
            {{ render(controller('BonPlanBundle:Avis:Commentaire',{'id':user.id})) }}
            <div class="col-md-4 responsive-wrap">
                <div class="follow">
                    <div class="follow-img">
                        <img src="{{ asset('uploads/images/PhotoProfil/'~user.photodeprofil) }}" class="img-fluid" alt="#">
                            <div class="address">
                                <span class="icon-location-pin" ></span><p>{{ user.adresse }}</p>
                            </div>
                            <div class="address">
                                <span class="icon-screen-smartphone"></span>
                                <p>{{ user.telephone }}</p>
                            </div>
                    </div>
                    <div class="contact-info">
                        <img src="{{ asset('images/map.jpg') }}" class="img-fluid" alt="#">
                            <ul class="social-counts">
                                <li>
                                    <h6>26</h6>
                                    <span>Listings</span>
                                </li>
                                <li>
                                    <h6>326</h6>
                                    <span>Followers</span>
                                </li>
                                <li>
                                    <h6>12</h6>
                                    <span>Followers</span>
                                </li>
                            </ul>
                        {% if app.user %}
                            {% if plan %}
                                <a href="{{ path('bon_plan_desabonner', { 'idPlan' : idreclam, 'idUser' : app.user.id }) }}"
                                   class="btn btn-outline-danger">Desabonner</a>
                            {% else %}
                                <a href="{{ path('bon_plan_abonner', { 'id' : idreclam }) }}"
                                   class="btn btn-outline-danger">Abonner</a>
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn btn-outline-danger" disabled>Abonner</button>
                        {% endif %}                    </div>



                    <a href="#" class="btn btn-outline-danger btn-contact">SEND A MESSAGE</a>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="exampleModalP" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content" style="width: 700px ;alignment: center">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <span class="modal-body">
                    <form method="POST">
                      <div class="content table-responsive table-full-width">
                        <br>
                        <table  style=outline-color:#bee5eb    class="table ; table-striped"  id="tableau">
                            <thead style="color: #0b0b0b ;size:A5" >
                            <tr>
                                <th>descritpion</th>
                                <th>detail</th>

                                <th data-field="date debut" data-sortable="true">date Debut</th>
                                <th data-field="date fin" data-sortable="true">date fin</th>

                                <th data-field="image" data-sortable="true">Image de Promotion </th>

                            </tr>
                            </thead>


                        </table>
                    </div>

                </form>

                </span></div>
        </div>
    </div>

    {% endfor %}
</section>
<!--//END BOOKING DETAILS -->




    <!-- JQUERY SCRIPTS -->
    <script src="{{ asset('js/jquery-3.2.1.min.js') }}"></script>
    <!-- BOOTSTRAP SCRIPTS -->
    <script src="{{ asset('js/bootstrap.js') }}"></script>
    <!-- METISMENU SCRIPTS -->
    <script src="{{ asset('back/js/jquery.metisMenu.js') }}"></script>
    <!-- MORRIS CHART SCRIPTS -->
    <script src="{{ asset('back/js/morris/raphael-2.1.0.min.js') }}"></script>
    <script src="{{ asset('back/js/morris/morris.js') }}"></script>
    <!-- CUSTOM SCRIPTS -->
    <script src="{{ asset('back/js/custom.js') }}"></script>

<script>
    var swiper = new Swiper('.swiper-container', {
        slidesPerView: 3,
        slidesPerGroup: 3,
        loop: true,
        loopFillGroupWithBlank: true,
        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        },
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
    });
</script>
<script>
    if ($('.image-link').length) {
        $('.image-link').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    }
    if ($('.image-link2').length) {
        $('.image-link2').magnificPopup({
            type: 'image',
            gallery: {
                enabled: true
            }
        });
    }
</script>
{% endblock  %}