{% extends '@BonPlan/Default/index.html.twig' %}
{% block body %}
<body style="background-image: url({{ asset('images/backgrpund.jpg') }}) ; background-size: 100% 100%;background-repeat:no-repeat" >
<style type="text/css" >
    @import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);

    /****** Style Star Rating Widget *****/

    .ratingqualite {
        border: none;
        float: left;
    }

    .ratingqualite > input { display: none; }
    .ratingqualite > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .ratingqualite > .halfq:before {
        content: "\f089";
        position: absolute;
    }

    .ratingqualite > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .ratingqualite > input:checked ~ label, /* show gold star when clicked */
    .ratingqualite:not(:checked) > label:hover, /* hover current star */
    .ratingqualite:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

    .ratingqualite > input:checked + label:hover, /* hover current star when changing rating */
    .ratingqualite > input:checked ~ label:hover,
    .ratingqualite > label:hover ~ input:checked ~ label, /* lighten current selection */
    .ratingqualite > input:checked ~ label:hover ~ label { color: #FFED85;  }

    /****************/

    .ratingservice {
        border: none;
        float: left;
    }

    .ratingservice > input { display: none; }
    .ratingservice > label:before {
        margin: 5px;
        font-size: 1.25em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
    }

    .ratingservice > .halfs:before {
        content: "\f089";
        position: absolute;
    }

    .ratingservice > label {
        color: #ddd;
        float: right;
    }

    /***** CSS Magic to Highlight Stars on Hover *****/

    .ratingservice > input:checked ~ label, /* show gold star when clicked */
    .ratingservice:not(:checked) > label:hover, /* hover current star */
    .ratingservice:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

    .ratingservice > input:checked + label:hover, /* hover current star when changing rating */
    .ratingservice > input:checked ~ label:hover,
    .ratingservice > label:hover ~ input:checked ~ label, /* lighten current selection */
    .ratingservice > input:checked ~ label:hover ~ label { color: #FFED85;  }
</style>
    {% for p in promo %}
   <center>    <h3>{{  p.description}}</h3></center>
        <center >
        <div class="col-sm-4">
        <div class="grid images_3_of_2">
            <div class="flexslider">
                <ul class="slides">
                    <img src="{{ asset('images/Promotion/' ~  p.urlpromo) }}" class="img-thumbnail" alt="Cinque Terre"></ul></div>


</center><center>
        <img onclick="changeLike(this)" height="80" width="80"
               src="{{ asset('images/like.png') }}" id="{{ 'like' ~ p.idpromotion }}"
               data-id="{{ p.idpromotion }}" name="imageLike"/>
        <img onclick="changeDislike(this)" style="display: none" height="80" width="80"
             src="{{ asset('images/dislike.png') }}" id="{{ 'dislike' ~ p.idpromotion }}"
             data-id="{{ p.idpromotion }}" name="imageDislike"/>

        <p id="{{ 'number' ~ p.idpromotion }}">
            {{ p.etatpromo }}

        </p>
         </div>
    </center>
<center> <br>
    {{ form_start(form) }}

    {{ form_row(form.etat_promo ) }}
        {{ form_row(form.Noter ) }}
    {{ form_end(form) }}

</center>

            <br><br>





        </center>
<center>
        <div class="container-fluid"style="color: #bd2130">

                <span class="icon-people">  </span>
                    <p style="color: black">{{ p.userPlan.username}}</p>

                <span class="icon-wallet">  reduction</span>
                    <p style="color: black">  {{ p.reduction}}</p>

                <span class="icon-calendar"> date debut </span>
                    <p style="color: black">{{ p.datedebutp |date("m/d/Y")}}</p>

                <span class="icon-calendar"> date fin </span>
                    <p style="color: black">{{ p.datefinp |date("m/d/Y") }}</p>



        </div>
    <center>					<fieldset class="ratingqualite" style="alignment: center">
            <input id="rating5" type="radio" name="rating" value="5">
            <label for="rating5">5</label>
            <input id="rating4" type="radio" name="rating" value="4">
            <label for="rating4">4</label>
            <input id="rating3" type="radio" name="rating" value="3" >
            <label for="rating3">3</label>
            <input id="rating2" type="radio" name="rating" value="2">
            <label for="rating2">2</label>
            <input id="rating1" type="radio" name="rating" value="1">
            <label for="rating1">1</label>
        </fieldset></center>
        </center>
                {% endfor %}
</body>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            // Check Radio-box
            $(".rating input:radio").attr("checked", false);

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });

            $('input:radio').change(
                function(){
                    var userRating = this.value;
                    alert(userRating);
                });
        });
    </script>



        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >


    function changeLike(elem) {
    var id = $(elem).data('id');
    document.getElementById("like" + id).style.display = "none";
    document.getElementById("dislike" + id).style.display = "block";

    $.ajax({
    url: '{{ path('ajouter_like') }}',
    type: "POST",
    data: {
    "id": id
    },
    async: true,
    success: function (data) {
    $('#number' + id).html(data);


    }
    , error: function (data) {
    console.log(data);
    }
    });


    }

    function changeDislike(elem) {
    var id = $(elem).data('id');
    document.getElementById("dislike" + id).style.display = "none";
    document.getElementById("like" + id).style.display = "block";
    $.ajax({
    url: '{{ path('supprimer_like') }}',
    type: "POST",
    data: {
    "id": id
    },
    async: true,
    success: function (data) {
    $('#number' + id).html(data);


    }
    , error: function (data) {
    console.log(data);
    }


    })
    };</script>



{% endblock %}