{% extends '@BonPlan/Default/indexback.html.twig' %}
{% block body %}


<body   style="background-repeat:no-repeat ; stroke:5px ; height:700px ; background-size: 100% 100%;background-image: url({{ asset('images/back.jpg') }}) ">
    <div class="content">
    <div class="container-fluid">
    <div class="row">
    <div class="col-md-12">

    <div class="header">
        <h2 class="title" style="color:indianred"><center >Liste des Promotions </center></h2>
<br>
        <br>
    </div>

       <center><h6 style="color: #0b0b0b "  aria-busy="true"> Rechercher: <input size="50" type="text" id="recherche" style="color:#0088CC"></h6></center>

        <div class="content table-responsive table-full-width">
<br>
    <table  style=outline-color:#0b0b0b    class="table  table-striped"  id="tableau">
        <thead style="color: #0b0b0b ;size:A5" >
        <tr>
            <th>descritpion</th>
            <th>Proprietaire</th>

            <th data-field="id" data-sortable="true">date Debut</th>
            <th data-field="id" data-sortable="true">date fin</th>

            <th data-field="price" data-sortable="true">Image</th>

            <th>Supprimer</th>
        </tr>
        </thead>
        {% for p in promo %}
            <tr>
                <td>{{  p.description}}</td>
                <td>{{  p.userPlan.username}}</td>

                <td>{{ p.datedebutp |date("m/d/Y")}}</td>
                <td>{{ p.datefinp |date("m/d/Y") }}</td>
               <td> <img src="{{ asset('images/Promotion/' ~  p.urlpromo) }}" style="height: 70px; width: 100px" ></td>



                <td> <a class="btn btn-common btn-sm" href="{{ path('Supprimer_Promotion', {'id' : p.idpromotion}) }}"  onclick="if(window.confirm('Voulez-vous vraiment supprimer cet Prmotion?')){return true;}else{return false;}">Supprimer</a></td>
            </tr>
        {% endfor %}

    </table>
    </div>
    </div>
    </div></div></div></body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script >
            $(function () {
                $("#recherche").keyup(function () {
                    $.ajax({
                        url : "{{ path('recherche_promotionAdmin') }}",
                        data : { 'promotion' : $(this).val() }
                    }).done(function (response) {
                        var tableau = $(response).find("#tableau");
                        $('#tableau').empty();
                        $('#tableau').append(tableau);
                    });
                });

            })
        </script>

</body>
{% endblock %}